body {
	padding: 20px;
	font-family: Caviar Dreams,Helvetica;
	font-size: 20px;
}

a, button {
	margin: 0px 10px;
	cursor: pointer;
}


 p{
	 font-size: 20px;
 }


ul.nav.navbar-nav {
    display: inline-block;
    padding: 0px;
    margin-top: -40px;
    font-size: 15px;
		position:fixed !;
	}
a.btn.btn-primary{
	background-color: rgb(201, 41, 233);
	border: 1px solid rgb(201, 41, 233);
}
.navbar {
	margin-bottom: 20px;

}
.dash {
	border-color: rgb(201, 41, 233);
	border-width: 1px;
	border-style: dotted;
}
.h2 {
	text-align: center;
}
span.caret{
	display: none;
}
aside {
	border-left-color: rgb(201, 41, 233);
	border-left-style: dashed;
	border-left-width: 1px;
	padding: 20px 0;
}

span.navbar-brand {
    padding: 20px;
    font-size: 20px;
}

A:visited{
	color: rgb(201, 41, 233) !;
}
div.container{
	align-content: center;

}

navbar-brand{
	font-size: 30px;
}
form{
	width: 50%;
}
