body {
	padding: 20px;
	font-family: new;
}

a, button {
	margin: 0 5px;
	cursor: pointer;
}

ul.nav.navbar-nav{
    display: inline-block;
		padding: 0px;
		font-size: 15px;
}

a.navbar-brand, navbar-brand{
	font-size: 20px;
	margin-bottom: -52px;
	align-content: center;
	padding: 0px;

}


div.container{
	align-content: center;
}
