body {
	padding: 20px;
	font-family: new;
}

a, button {
	margin: 0 5px;
	cursor: pointer;
}
.NavBar {
	margin-bottom: 20px
}
.dash {
	border-color: rgb(201, 41, 233);
	border-width: 1px;
	border-style: dotted;
}
.h2 {
	text-align: center;
}
aside {
	border-left-color: rgb(201, 41, 233);
	border-left-style: dashed;
	border-left-width: 1px;
}
ul.nav.navbar-nav{
    display: inline-block;
		padding: 0px;
		font-size: 15px;
}
a.navbar-brand, navbar-brand{
	font-size: 20px;
	margin-bottom: -52px;
	align-content: center;
	padding: 0px;

}
div.container{
	align-content: center;
}
